*{
    margin: 0;
    padding: 0;
    background-color: #392467;
    color: #FFD1E3;
}

h1{
    color:black;
    background-color:white;
}

div{
    background-color:#A367B1;
}

h2{
    background-color: #6e54a7;

}




